body {
    background-color: #f0f0f0;
    font-family: Futura, sans-serif;
}

h1 {
    color: #333333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #cccccc;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
